@import "tailwindcss";

@theme {
	--primary-smjd: #005873;
	--accent-1-smjd: #007A99;
	--accent-2-smjd: #003D4E;
	--neutral-1-smjd: #E0F4F8;
	--neutral-2-smjd: #A8CBD1;
	--complement-1-smjd: #9F6768;
	--complement-2-smjd: #F3A712;
}

@layer base {
	body {
		background-color: var(--neutral-1-smjd);
	}
}

@layer components {}