/* https://fonts.google.com/specimen/Nunito+Sans */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import "tailwindcss";

@theme {
	--primary-smjd: #005873;
	--accent-1-smjd: #007A99;
	--accent-1o-smjd: #007A99EE;
	--accent-2-smjd: #003D4E;
	--accent-2o85-smjd: #003D4EAA;
	--neutral-1-smjd: #E0F4F8;
	--neutral-1o40-smjd: #E0F4F8F0;
	--neutral-2-smjd: #A8CBD1;
	--complement-1-smjd: #9F6768;
	--complement-2-smjd: #F3A712;

	--font-nunito-sans-msjd: 'Nunito Sans', sans-serif;
}

@layer base {
	body {
		font-family: var(--font-nunito-sans-msjd);
	}

	h1 {
		color: var(--primary-smjd);
		@apply font-bold;
	}

	h2 {
		font-weight: bold;
		color: whitesmoke;
	}

	h3 {
		font-weight: bold;
	}

	h4 {
		font-weight: bold;
		color: var(--neutral-2-smjd);
	}

	html {
		scroll-behavior: smooth;
	}
}

@layer components {
	
}